.project {
  margin-bottom: 140px;
}

.project__wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project__top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  max-width: 282px;
  width: 100%;
}

.project__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project__block {
  display: flex;
  justify-content: space-between;
  height: 296px;
  border-bottom: 1px solid var(--white);
}

.project__block-left {
  max-width: 477px;
  max-height: 275px;
}

.project__block-left img {
  width: 100%;
  height: 100%;
}

.project__block-right {
  display: flex;
  flex-direction: column;
  gap: 95px;
}

.project__block-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.project__block-info_title {
  font-family: var(--ff);
  font-weight: 400;
  font-size: 24px;
  line-height: 90%;
  color: var(--white);
}

.project__block-info_desc {
  font-family: var(--ff);
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: var(--gray);
}

@media screen and (max-width: 760px) {
    .project__wrap {
        gap: 60px;
    }

    .project__block {
        flex-direction: column;
        height: auto;
        gap: 40px;
        align-items: center;
    }

    .project__block-right {
        gap: 10px;
        align-items: center;
    }

    .project__block-info {
        flex-direction: row;
    }
}

@media screen and (max-width: 460px) {
    .project__block-info {
        gap: 10px;
    }

    .project__block-info_title {
        font-size: 18px
    }

    .project__block-info_desc {
        font-size: 11px;
    }
}